@font-face {
  font-family: "bl";
  src: url("../fonts/BL.woff")
}

@font-face {
  font-family: "Sohne";
  font-weight: 300;
  src: url("../fonts/Sohne-Leicht.otf")
}

@font-face {
  font-family: "Sohne";
  font-weight: 400;
  src: url("../fonts/Sohne-Kraftig.otf")
}

@font-face {
  font-family: "Sohne";
  font-weight: 500;
  src: url("../fonts/Sohne-Halbfett.otf")
}

@font-face {
  font-family: "Sohne";
  font-weight: 600;
  src: url("../fonts/Sohne-Fett.otf")
}

html {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-family: "Sohne", sans-serif;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

.document {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl {
  font-family:"bl";

}

.t1 {
  font-size: 4rem;
}

.a1 {
  transition: 0.1s ease;
  opacity: 0;
  display: none;
}

#jeeFaceFilterCanvas {
  display: none;
}

.svganim {
  display: inline-block;
  /* margin: -30px -135px;
  height: 100px; */
  margin: -80px -105px;
  height: 300px;

}

.a2 {
  text-align: center;
  z-index: 10;
}


.svganim {
  filter: invert();
}

#renderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0;
  /* display: none; */
}

.noselect, img, svg {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.centered {
  position: absolute;
  top:calc(50% - 400px);
  left:calc(50% - 400px);
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:5;

}

#play {
  width: 70px;
  padding: 100px;
}

.b1, .b2, .b3, .b4 {
  opacity: 0;
}

.b1 {
  z-index: 10;
}

#septagram {
  width: 320px;
}

#parhelia {
  width: 320px;
}

.tracklisting {
  display: flex;
  flex-direction: column;
}

.tracklabel {

}

.trackrow {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  transition: 0.3s ease;
  align-items: flex-end;
  opacity: 0.7;
}

.playing {
  font-size: 1.5rem;
  font-weight:500;
  transition: 0.1s ease;
  opacity: 1;
}

.track {
  padding: 8px 15px 2px 0px;
  min-width:200px;
}

.trackcurrentlength {
  min-width: 100px;
  text-align: right;
}

.tracklength {
  padding:0px 10px;
  text-align: right;
  min-width: 65px;
}

.button {
  display: inline-block;
  padding: 2px 5px 5px 5px;
  border-radius: 5px;
  border: solid 1px #fff;
}

.info {
  text-align: center;
  width: 100%;
    font-size: 0.8rem;
    opacity: 0.7;
}

.info2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
