@font-face {
  font-family: "bl";
  src: url("fonts/BL.woff")
}

html {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

body {
  padding: 0;
  margin: 0;
}

.document {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl {
  font-family:"bl";

}

.t1 {
  font-size: 4rem;
}

.a1 {
  transition: 0.1s ease;
  opacity: 0;
  display: none;
}

#jeeFaceFilterCanvas {
  display: none;
}

.svganim {
  display: inline-block;
  /* margin: -30px -135px;
  height: 100px; */
  margin: -80px -105px;
  height: 300px;

}

.a2 {
  text-align: center;
  z-index: 10;
}


.svganim {
  filter: invert();
}

#renderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  /* display: none; */
}

.noselect, img, svg {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.centered {
  position: absolute;
  top:calc(50% - 400px);
  left:calc(50% - 400px);
  width: 800px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:5;

}

#play {
  width: 70px;
  padding: 100px;
}

.b1, .b2, .b3, .b4 {
  opacity: 0;
}

.b1 {
  z-index: 10;
}

#septagram {
  width: 320px;
}

#parhelia {
  width: 320px;
}
