@font-face {
  font-family: "bl";
  src: url(/fonts/bl.woff)
}

html, body {
  padding: 0;
  margin: 0;

}

.document {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl {
  font-family:"bl";

}

.t1 {
  font-size: 4rem;
}

.a1 {
  transition: 0.1s ease;
}
