@font-face {
  font-family: "bl";
  src: url("fonts/BL.woff")
}

html, body {
  padding: 0;
  margin: 0;
  background-color: rga(0, 0, 0, 0);
}

.document {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl {
  font-family:"bl";

}

.t1 {
  font-size: 4rem;
}

.a1 {
  transition: 0.1s ease;
  opacity: 0;
  display: none;
}

#jeeFaceFilterCanvas {
  display: none;
}

.svganim {
  display: inline-block;
  margin: -80px -100px;
}

.a2 {
  text-align: center;
}


.svganim {
  filter: invert();
}

#renderer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
